<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">

    <!-- logo gauche -->
    <aside>
        <a href="/"><img src="/logo2.png" alt="Logo PROXI'CLEAN - Services de nettoyage professionnel" class="w-30 mb-2" /></a>
        <!-- <p>
            PROXI'CLEAN SERVICES
        </p> -->
    </aside>
    <nav>
        <a href="/#services"><h6 class="footer-title">Nos Services</h6></a>
        <a href="/entretien" class="link link-hover">Entretien régulier</a>
        <a href="/specifique" class="link link-hover">Prestations spécifiques</a>
    </nav>
    <nav>
        <h6 class="footer-title">L'entreprise</h6>
        <a href="/contact" class="link link-hover">Contact</a>
        <a href="/" class="link link-hover">Rejoignez-nous</a>
    </nav> 
    <nav>
        <h6 class="footer-title">Légal</h6> 
        <a href="/mentions-legales" class="link link-hover">Mentions légales</a>
        <a href="/politique" class="link link-hover">Politique de confidentialité</a>
    </nav>
</footer>