<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">

    <!-- logo gauche -->
    <aside>
        <a href="/"><img src="/logo2.png" alt="Logo PROXI'CLEAN - Services de nettoyage professionnel" class="w-24 mb-2" /></a>
        <p>
            PROXI'CLEAN SERVICES
            <br />
            <strong>Service de qualité depuis 2026</strong>
        </p>
    </aside>
    <nav>
        <a href="/#services"><h6 class="footer-title">Nos Services</h6></a>
        <a href="/#services" class="link link-hover">Nettoyage de bureaux</a>
        <a href="/#services" class="link link-hover">Lavage de vitres</a>
        <a href="/#services" class="link link-hover">Entretien copropriétés</a>
        <a href="/#services" class="link link-hover">Remise en état après travaux</a>
    </nav>
    <nav>
        <h6 class="footer-title">L'entreprise</h6>
        <a href="/contact" class="link link-hover">Contact</a>
    </nav> 
    <nav>
        <h6 class="footer-title">Légal</h6> 
        <a href="/mentions-legales" class="link link-hover">Mentions légales</a>
        <a href="/politique" class="link link-hover">Politique de confidentialité</a>
    </nav>
</footer>