---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl uppercase text-title tracking-widest">proxy'clean</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/contact" class="btn bg-[#003A9A] hover:bg-[#052A6E] text-white border-none px-8">Contactez-nous</a></li>
        </ul>
    </div>
</div>